<div class="modal-header">
    <h4 class="modal-title text-black" id="modal-basic-title"><strong>New Appointment</strong></h4>
</div>
<div class="modal-body">
    <form [formGroup]="appointmentsForm">
        
        <div class="mb-3">
            <label for="patient">* Patient's name</label>
            <div class="input-group">
                <input formControlName="patient" id="patient" class="form-control"  type="text"
                    name="patient" />
            </div>
            <div *ngIf="appointmentsForm.get('patient')?.pending" class="error-message text-danger">
                <span>the patient's name is required.</span>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="doctor">* Doctor's name</label>
            <div class="input-group">
                <input formControlName="doctor" id="doctor" class="form-control"  type="text"
                    name="doctor" />
            </div>
            <div *ngIf="appointmentsForm.get('doctor')?.pending" class="error-message text-danger">
                <span>The doctor's name is required.</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="reason">* Reason for the appointment.</label>
            <div class="input-group">
                <input formControlName="reason" id="reason" class="form-control"  type="text"
                    name="reason" />
            </div>
            <div *ngIf="appointmentsForm.get('reason')?.pending" class="error-message text-danger">
                <span>The reason for the appointment is required.</span>
            </div>
        </div>

        
        <div class="mb-3">
            <label for="priority">* Priority</label>
            <div class="input-group">
                <select formControlName="priority" class="custom-select form-control-sm mb-3" name="priority" aria-label="priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>
            <div *ngIf="appointmentsForm.get('priority')?.pending" class="error-message text-danger">
                <span>The priority is required.</span>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="medicalCenter">* Medical Center</label>
            <div class="input-group">
                <input formControlName="medicalCenter" id="medicalCenter" class="form-control"  type="text"
                    name="medicalCenter" />
            </div>
            <div *ngIf="appointmentsForm.get('medicalCenter')?.pending" class="error-message text-danger">
                <span>The medical center is required.</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>